<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container"> 
    <form>
      <label for="fname">First Name:</label><br>
      <input type="text" id="fname" name="fname" placeholder="Enter your First Name"><br>
      <label for="lname">Last Name:</label><br>
      <input type="text" id="lname" name="lname" placeholder="Enter your Last Name"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" placeholder="Enter your password"><br>
      <p>Address:</p>
      <label for="street">Street:</label><br>
      <input type="text" id="Street" name="Street" placeholder="Enter your street"> <br>
      <label for="Area">Area: </label><br>
      <input type="text" id="Area" name="Area" place="Enter your living Area"><br>
      <label for="City">City: </label><br>
      <input type="text" id="City0" name="City" place="Enter your living City"><br>
      <label for="State">State: </label><br>
      <input type="text" id="State" name="State" place="Enter your living State"><br>
      <label for="Country">Country: </label><br>
      <input type="text" id="Country" name="Country" place="Enter your living Country"><br>
      
    </form>
  </div>
</body>
</html>
<router-outlet></router-outlet>